@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");

body {
  margin: 0;
  font-family: "Libre Baskerville", serif;
}

.container {
  max-width: 700px;
  margin: 0 auto;
}

/* Nav **************/
header {
  background: #0e3b43;
  color: #fff;
  padding: 0.75rem 0;
}

.nav-layout a {
  text-decoration: none;
}

.nav-layout h1 {
  font-weight: bold;
  color: #fff;
}

/* nav-menu **************/
ul.nav-menu {
  display: flex;
  list-style-type: none;
}

.nav-menu li a {
  color: #fff;
  text-transform: capitalize;
}

.nav-menu li:not(:last-child) {
  margin-right: 1rem;
}

/* Chords  ***********/
.chord-grid {
  margin-top: 1.5rem;
  display: grid;
  grid-gap: 0.3rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.chord {
  padding: 0.3rem;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
  background: #fff;
}

.chord-title {
  text-transform: capitalize;
}

.chord svg {
  width: 100%;
  height: auto;
}

.note-text {
  font-size: 0.95rem;
  fill: #000;
}

.tuning-card-block {
  display: flex;
  flex-direction: column;
}

.tuning-card:not(:first-child) {
  margin-top: 1rem;
}

.tuning-card {
  padding: 1rem;
  border: 1px solid #ccc;
  flex: 1;
  border-radius: 0.3rem;
  background: #fff;
}

/* SVG ********/

// Add a tooltip instead of trying to style title
// https://stackoverflow.com/questions/21703318/is-it-possible-to-enhance-the-default-appearance-of-svg-title-tooltip

.title {
  padding: 1rem;
  font-size: 2rem;
  border-radius: 12px;
}

/* Responsive *********/
@media screen and (max-width: 700px) {
  .container {
    padding: 0 1rem;
  }
}
